// Misc
$default-html-font-size: 16px;
$button-border-radius: 4px;

// Colors
$accent-blue-color: #109cf1;
$yellow-color: #ffb946;
$red-color: #f7685b;
$green-color: #2ed47a;
$purple-color: #885af8;
$black-color: #192a3e;
$table-black-color: #323c47;
$table-gray-color: #707683;
$dark-blue-color: #334d6e;
$gray-color: #90a0b7;
$icon-gray-color: #c2cfe0;
$white-color: #ffffff;
$divider-color: #ebeff2;
$main-bg-color: #f5f6f8;
$gray-blue-color: #6a707e;
$dark-gray-color: #4C5862;

$button-hover-color: #34aff9;
$button-active-color: #098edf;
